.home{
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  width: 300px;
  height: 200px;
  position: relative;
  background-color: antiquewhite;
  border-radius: 16px;
  border: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.welcome-text{
  font-size: 18px;
}

.input-name{
  display: block;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 5px;
  width: 200px;
}

